behave-django
dj-database-url
django
django-allauth
django-cors-middleware
django-rest-auth
django-rest-swagger
django-rest-knox
djangorestframework
Faker
gunicorn
Pillow
psycopg2-binary
ptvsd
pytz
whitenoise

drf-yasg
coreapi
inflection
uritemplate
packaging
six
coreschema
ruamel.yaml
django-heroku