behave-django
dj-database-url
django
django-allauth
django-cors-middleware
django-rest-auth
django-rest-swagger
django-rest-knox
djangorestframework
Faker
gunicorn
Pillow
psycopg2-binary
ptvsd
pytz
whitenoise
